.m-30 {
	margin: 30px;
}
.pull-left {
	float: left;
}
.m-r-10{
	margin-right: 10px;
}
.m-t-10 {
	margin-top: 10px;
}
.bg-color-gray{
	background: #f4f4f4;
}
.min-h-170{
	min-height: 170px;
}
.p-10{
	padding: 10px;
}
.btnClick{
	box-shadow:0.3px 0px 5px 0px;
}
.hiraola-paginatoin-area .hiraola-pagination-box li > span {
    border: 1px solid #e5e5e5;
    padding: 9px 15px;
    display: block;
}
.hiraola-paginatoin-area .hiraola-pagination-box li.active > span {
    background-color: #cda557!important;
    color: #ffffff !important;
}
.loginbtn {
	width: auto!important;
	padding: 0px 10px 0px 10px;
}
.loginFormPan{
	margin: 0px 150px 0px 150px;
}
.hasClass{
	    width: 300px;
	    position: absolute;
	    right: 0;
	    top: 50px;
	    background-color: #cda457;
	    color: white;
}
.hasClass .alert-info {
	    background-color: transparent;
	    border-color: transparent;
	    color: white;
}			
.hasClassDanger{
    width: 300px;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #ca4c57;
    color: white;
}
.hasClassDanger .alert-danger {
	    background-color: transparent;
	    border-color: transparent;
	    color: white;
}
.sp-content {
	text-transform: capitalize;
}
.product-description {
	text-transform: capitalize;
	
}
.single_product {
	text-transform: capitalize;
	
}