  #weatherWidget .currentDesc {
        color: #ffffff!important;
    }
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }



        /*-------------------error style------------*/
        .has-error input,.has-error select,.has-error textarea{
            border-color: #dc3545;
        }

        .has-error input:focus,.has-error select:focus,.has-error textarea:focus{
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
        }

/*<--------------end error style ----------/>*/

.right-panel .breadcrumbs {
    padding: 0px !important;
    margin-bottom: 30px !important;
}

.btn-file{
    position: relative;
}
.btn-file input[type=file]
{
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}

.append-img #preview-img img{
    border: 1px solid #e8e8e8;
     padding: 4px
}

/*editimage show*/
  .preview-img-edit
    {
        position: relative;
        width: 120px;
        padding: 4px;
        border: 1px solid #e8e8e8;
        margin-bottom: 5px;
        margin-right: 5px;
    }
     .preview-img-edit img{
        width: 100%;

    }
    .overlay{
        position: absolute;
    }
     .preview-img-edit:hover .overlay{
        position: absolute;
        top: 0px;
        background: rgb(0,0,0,0.8);
        width: 100%;
        height: 100%;
        left: 0;
        text-align: center;
    }
    .overlay i{
        opacity: 0;
    }
    .preview-img-edit:hover .overlay i{
        margin-top: 40px;
        color: indianred;
        opacity: 1;
    }
    .appended-div{
        display: flex;
    }

    /*<------------Gold color----------->*/

    .bg-flat-color-gold{
        background: #FFD700;
    }